/* reset */
* { margin: 0; padding: 0; list-style: none; border: none; }

html, body { height: 100%; }
body,
input, select, textarea { font: normal 20px 'Yanone Kaffeesatz', sans-serif; color: #444; }

body { min-width: 300px; background: #fff; }

.cursive,
h1, h2, h3, h4, h5, h6 { 
	font-family: Pacifico, sans-serif; font-weight: normal;
	line-height: 1em;
	margin-bottom: 15px;
}
h1 { font-size: 40px; }

.purple { color: #732a80; }
.product-name { font-weight: bold; font-style: italic; }
.gray { color: #444; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin-bottom: 25px; line-height: 1.4em; }

*::selection { background: #722872; color: #fff; }
*::-moz-selection { background: #722872; color: #fff; }

.content { margin: 0 auto; }
.fleft { float: left; }
.fright { float: right; }
.clear { clear: both; }

.title { font-family: 'Yanone Kaffeesatz', sans-serif; font-weight: bold; margin-bottom: 10px; }

.hidden-text { overflow: hidden; text-indent: 100%; white-space: nowrap; }
.is-hidden { display: none; }

.bold { font-weight: bold; }
.list { margin-bottom: 20px; }
.list li { margin-bottom: 5px; }

/* form */
label { display: block; margin-bottom: 17px; }
label span { display: block; margin-bottom: 8px; text-align: left; }
.label-sabor { margin-bottom: 10px; }
.input-text {
	width: 85%;
	height: 45px; line-height: 45px; 
	padding: 0 10px; border-radius: 5px;
}
.input-small { width: 67%; }
.textarea { height: 137px; }

.input-submit {
	background: #98b530;
	border-radius: 7px;
	display: block;
	width: 85%; height: 40px; line-height: 40px;
	text-align: center; color: #5d1a69;
	text-transform: uppercase; font-weight: bold;
	font-size: 22px;
	margin-top: 20px;
	cursor: pointer;
}
.input-submit:hover,
.input-submit:active { background: #abcd33; }
.form-legend { font-size: 24px; }
.wrap-geo { position: relative; }
.geolocation {
	position: absolute;
	top: 1px; left: 25px;
	cursor: pointer;
}


/* grid */
.column-full { width: 940px; }
.column-eleven-twelfths { width: 860px; }
.column-ten-twelfths { width: 780px; }
.column-three-quarters { width: 700px; }
.column-two-thirds { width: 620px; }
.column-seven-twelfths { width: 540px; }
.column-half { width: 460px; }
.column-five-twelfths { width: 380px; }
.column-third { width: 300px; }
.column-quarter { width: 220px; }
.column-sixth { width: 140px; }
.column-one-twelfths { width: 60px; }


.space-left { margin-left: 20px; }
.space-right { margin-right: 20px; }



/* estrutura */
#header { 
	background: url('../images/bg-header-roxo.jpg') repeat center bottom #8A2085;
	height: 250px;
	position: relative; z-index: 2;
}
#header h1 { margin: 0; }
#header-strip {
	background-color: #4e0d59;
	color: #fff;
	width: 100%; height: 50px; line-height: 50px;
}
#header-strip a { color: #fff; }
.header-strip-delivery { margin: 0 30px 0 0; line-height: 50px; }

.midias { padding-top: 6px; }
.midias a {
	width: 37px; height: 37px;
	background: url('../images/sprite-midias.jpg') no-repeat;
}
.midias a:hover { opacity: 0.8 }


#like { background-position: -86px top; }
#tweet { background-position: -129px top; }
#gplus { background-position: -43px top; }
#youtube { background-position: left top; }

#nav { position: relative; }
#nav-menu { margin-top: 80px; }
.nav-link { 
	font-size: 26px; font-weight: bold;
	letter-spacing: -1px;
	background-color: #691a62;
	background-color: rgba(50,50,50,0.3);
	border-radius: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #441140 transparent transparent #441140;
	height: 45px; line-height: 45px;
	padding: 0 20px;
}
.nav-link a { color: #fff; }

.nav-link:hover,
.nav-link:active { background: rgba(50,50,50,0.5); }
#nav .first { margin-right: 10px; }
#nav .second { margin-right: 10px; }
#nav .third { margin: 0px; }
#phone {
	font-size: 24px;
	background: url('../images/ico-telefone.png') no-repeat left center;
	padding-left: 30px;
	margin-right: 30px;
	cursor: pointer;
}
#logo {
	background: url('../images/bg-logo.png') no-repeat;
	width: 320px; height: 180px;
	padding: 75px 0 0 47px;
	display: block;
	position: absolute; top: -30px; left: 0;
}
#logo:hover img { opacity: 0.9; }
.logo-text { display: block; }
#adcast {
	background: #4e0d59;
	color: #fff;
	overflow: hidden;
	position: relative; z-index: 1;
}
#adcast .first { background-color: #bd75c0; }
#adcast .second { background-color: #96a855; }

#adcast,
.adcast-item,
.adcast-item .content { height: 300px; }

.adcast-item .content { position: relative; }
.adcast-content {
	width: 460px;
	position: absolute;
	top: 100px; left: 30px;
}
.adcast-title { font-size: 60px; line-height: 1em; margin-bottom: 15px; }
.adcast-text { font-size: 24px; }
.adcast-img { margin-top: 10px; position: relative; }

.second .adcast-img { margin-top: 85px; }

.selo-valor { position: absolute; bottom: 20px; right: 20px; }
#main { padding-bottom: 50px; }

/* article content */
#product {
	background: url('../images/bg-produtos.png') repeat-x center top transparent;
	height: 430px; padding-top: 50px;
	margin-top: -5px;
	position: relative; z-index: 3;
}
.product-item { text-align: center; }

.product-title { color: #732a80; font-size: 40px; }
.product-img { display: block; margin: 0 auto 20px; position: relative; }
.product-action { 
	background: #732a80; border-radius: 5px; 
	padding: 0 15px; height: 40px; line-height: 40px; 
	display: inline-block;
	font-weight: bold; color: #fff;
	font-size: 26px;
	transition: all 1s;
}
.product-action:hover,
.product-action:active { background: #b013b6; }

#content { padding-top: 50px; }



#form-action {
	background: url('../images/bg-header-roxo.jpg') repeat top center #8A2085;
	border-bottom: 1px solid #3e0548;
	height: 335px; padding-top: 30px;
	color: #fff; margin-bottom: 40px;
}
#copy { color: #732a80; font-size: 16px; height: 40px; }
.copy-text { margin: 0; }
.copy-simbol { font: 12px Tahoma, sans-serif; }


.above { margin-top: -5px; z-index: 1; position: relative; }


/* hreview */
.hreview {
	font-size: 16px;
	margin-bottom: 30px;
}
.hreview p { margin-bottom: 10px; }
.hreview .description { font-style: italic; }
.itemreviewed { margin: 25px 0 0 0;}

/* como comprar */
#how-buy {
	background: #4e0d59;
	color: #fff; padding: 55px 0 0 0;
	margin-bottom: 30px; overflow: hidden;
}
#how-buy a { color: #fff; }
.how-buy-text { margin-top: 10px; }


.como-e-feito #how-buy { background: #aa0b8e; }
.strudel-de-maca #how-buy { background: #7e9a46; }
.strudel-de-doce-de-leite #how-buy { background: #b15bbf; }

#gif-conversion { display: inline; }
#gif-conversion img { border: none; }

.description {
	background: url('../images/quote-left.jpg') no-repeat;
	padding: 4px 0 0 33px;
}

/* .chart */
.chart-title {
	border-bottom: 3px dotted #666;
	height: 28px;
	position: relative;
}
.chart-title-text {
	font-size: 24px;
	background: #fff;
	height: 31px;
	padding-right: 10px;
	position: absolute;
	top: 0; left: 0;
}

/* flavor */
.box-flavor {
	background: #eee;
	height: 165px;
	border-radius: 7px;
	margin-bottom: 20px;
}
.flavor-title {
	margin: 15px 20px;
}
.flavor-list {
	margin: 0 20px;
}

/* responsivo */
@media only screen and (max-width: 960px){
	.column-full { width: auto; padding: 0 20px; }
	.column-half { width: auto; float: none; }
	.column-third { width: 30%; }
	.column-sixth { width: 15%; }
	.column-third .column-sixth { width: 50%; }

	.space-right { margin-right: 5%; }
	.space-left { margin-left: 5%; }
	img { max-width: 100% !important; height: auto !important; }

	.adcast-item .content { height: auto; }
	
	#no-responsive { display: block; }
}
@media only screen and (max-width: 920px){
	#header { height: auto; padding-bottom: 20px; }
	#logo { position: static; margin: 0; float: left; }

	#main { padding-bottom: 10px; }
	#how-buy { padding-top: 20px; margin-bottom: 15px; }

	#nav-menu { margin-top: 50px; }
	#nav .nav-link { margin-right: 0; }
	.nav-link { float: none; margin-bottom: 10px; width: 300px; }
}
@media only screen and (max-width: 880px){
	.nav-link { width: 200px; }

	#adcast { height: auto; }
	.adcast-item { height: auto; padding-top: 20px; }
	.adcast-title { font-size: 38px; }
	.adcast-content { position: static; width: 50%; float: left; }
	.adcast-img, .adcast-img { max-width: 50% !important; }
	.first .adcast-img, .second .adcast-img { margin: 0; }
	.how-buy-text { margin-top: 0; }
}
@media only screen and (max-width: 700px){
	.nav-link { width: 145px; }
	.product-title { height: 90px; line-height: 1em; }
	.column-three-quarters { width: auto; }
	.header-strip-delivery { display: none; }
	#phone { float: left;}
}
@media only screen and (max-width: 650px){
	#nav-menu  { float: none; margin-top: 0; }
	#logo { margin: 0 auto; float: none; }
	.nav-link { margin-top: 10px; width: 100%; display: block; padding: 0; text-align: center; }
	#phone { margin-top: 0; }
}
@media only screen and (max-width: 620px){

	.column-third { width: auto; float: none; margin: 0 auto; text-align: center;}
	#header { background: url('../images/bg-roxo-texture-over.png') repeat; }
	#form-action { height: auto; background: url('../images/bg-roxo-texture.png') repeat; }
	.input-text { width: 95%; }
	.input-submit { margin-top: 25px; width: 100%; }
	.input-small { width: 88%; }
	.copy-text { font-size: 14px; line-height: 1em; }
	#content { padding-top: 15px; }
	#content img.fright { float: none; }
	#product { height: auto; background: url('../images/bg-product-texture.png') repeat; padding-bottom: 10px; }
	.product-item { margin-bottom: 40px; }
	.product-title { height: auto; }
	.how-to { margin-bottom: 25px; }
}
@media only screen and (max-width: 580px){
	.adcast-item { background-image: none; }
	.adcast-content { float: none; width: auto; }
	.adcast-img { max-width: 100% !important; float: none; }
	#form-action { margin-bottom: 10px; padding-top: 20px; }
}
@media only screen and (max-width: 420px){
	.column-full { padding: 0 3%; }
	#phone { font-size: 16px; margin: 0; }

	#logo { max-width: 100%; padding: 60px 0 0 0; background-size: 100%; }
	.logo-img { max-width: 80% !important; margin: 0 auto; display: block; }

	.copy-text { font-size: 11px; }

	#wistia_0727g9uun1_grid_wrapper { height: 200px !important;}
	#wistia_0727g9uun1,
	#wistia_0727g9uun1_grid_main { width: 300px !important; }
}
@media only screen and (max-width: 320px){
	.column-half { width: auto; float: none; }
	.input-small { width: 83%; }
	#logo { height: 150px; }
}
@media print {
	.content { width: auto; }
	#form-action,
	#footer { display: none; }

	a:after {
		content: " - ( " attr(href) " )";
		font-size: 0.7em;
	}

}