<section id="adcast">
    <ul class="content">
        <li class="adcast-item first">
            <div class="content column-full cf">
                <div class="adcast-content">
                    <h1 class="adcast-title">Strudel de Maçã</h1>
                    <p class="adcast-text">O <strong lang="de">Apfelstrudel</strong>, ou <strong>Strudel de Maçã</strong>, como é conhecido aqui no Brasil e na Alemanha, é uma sobremesa tradicional de massa folhada e recheio doce.</p>
                </div><!-- .adcast-content -->

                <img src="images/img-adcast.png" alt="Strudel Maçã Verde" title="Strudel de Maçã Verde" class="adcast-img" width="1072" height="532" />
{{> badge }}
            </div>
        </li>
    </ul>
</section><!-- #adcast -->
