<section id="form-action" role="application" class="cf">
    <div class="form-action-header content column-full">
        <h2 itemprop="name" class="cursive purple">Strudel Folhadinho</h2>
        <p itemprop="description">Preencha o formulário abaixo para fazer o seu pedido. Entregamos o original strudel de maçã(apfelstrudel) e outros sabores para toda a cidade de São Paulo.</p>
    </div>

    <form action="/" method="post" id="form" class="content column-full">
        <fieldset class="fleft column-third">
            <label for="nome">
                <span>Seu nome *</span>
                <input type="text" name="nome" id="nome" class="input-text" placeholder="Digite seu nome" />
            </label>
            <label for="sobrenome" class="is-hidden">
                <span>Seu nome</span>
                <input type="text" name="sobrenome" id="sobrenome" value="" class="input-text" />
            </label>
            <label for="telefone">
                <span>Seu telefone ou celular *</span>
                <input type="tel" name="telefone" id="telefone" required="required" class="input-text" maxlength="15" />
            </label>
            <fieldset class="wrap-geo">
                <img src="/images/marker.png" title="Clique para preencher o seu cep" alt="Preencher com minha Localização" width="26" height="26" class="is-hidden geolocation" id="js-geo" />
                <label for="cep" class="fleft column-sixth column-grid">
                    <span>CEP</span>
                    <input type="text" name="cep" id="cep" class="input-text input-small" maxlength="9" placeholder="00000-000" />
                </label>
                <label for="numero" class="fright column-sixth column-grid">
                    <span>Número</span>
                    <input type="text" name="numero" id="numero" class="input-text input-small" maxlength="20" placeholder="00 /ap 00" />
                </label>

                <p id="address" class="clear"></p>
            </fieldset>
        </fieldset>
        <fieldset class="fleft column-third">
            <label for="email">
                <span>Seu e-mail *</span>
                <input type="email" name="email" required="required" id="email" class="input-text" />
            </label>
            <label for="detalhes">
                <span>Detalhes</span>
                <textarea name="detalhes" cols="20" rows="3" id="detalhes" class="input-text textarea"></textarea>
            </label>
        </fieldset>
        <fieldset class="fright column-third">
            <label class="form-legend">Quais sabores você quer?</label>
{{#each products.sweet}}
            <label class="label-flavor">
                <input type="checkbox" name="sabor[]" value="{{name}}" /> {{name}} = <a href="{{url}}">R${{price}}</a>
            </label>
{{/each}}
{{#each products.savory}}
            <label class="label-flavor">
                <input type="checkbox" name="sabor[]" value="{{name}}" /> {{name}} = <a href="{{url}}">R${{price}}</a>
            </label>
{{/each}}
            <label><input type="submit" name="enviar" value="Pedir agora!" class="input-submit" /></label>
        </fieldset>
    </form>

</section><!-- #form-action -->
