{{> contact_form }}

<footer id="footer">
  <div class="column-full content cf">
    {{> midias }}

    <section itemscope itemtype="http://schema.org/LocalBusiness" class="fleft">
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <small itemprop="streetAddress">Rua Padre Jácome de Queiroz</small>
        <small itemprop="addressLocality">São Paulo</small>,
        <small itemprop="addressRegion">SP</small>
      </div>
      Telefone: <span itemprop="telephone">
          <span title="ligue {{> phoneNumber}}">{{> phoneNumber}}</span>
      </span> -
      <span> strudelfolhadinho@gmail.com</span>
    </section><!-- .column-full -->

    <p id="copy" role="contentinfo" class="fleft copy-text cleft">
      <span class="copy-simbol">&copy;</span>Strudel Folhadinho, todos os direitos reservados.
    </p><!-- #copy -->

    <p class="content column-full is-hidden" id="no-responsive">desligar responsivo</p>
  </div>
</footer><!-- #footer -->

{{> conversion }}
</body>
</html>
