<!DOCTYPE HTML>
<html dir="ltr" lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="//cdn.polyfill.io/v1/polyfill.min.js"></script>

  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png"/>

  <link rel="canonical" href="{{canonical}}" />

  <link rel="image_src" href="/images/logo-strudel-folhadinho.png" />
  <link rel="alternate" href="/sitemap.xml" type="application/rss+xml" title="Feed de Strudel Folhadinho"  />

  <link rel="dns-prefetch" href="http://google-analytics.com" />
  <link rel="dns-prefetch" href="http://fonts.googleapis.com" />

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300|Pacifico" type="text/css" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" />


  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="description" content="{{description}}" />

  <meta name="p:domain_verify" content="91c55241e78c8a8b75132def6cee25bb" />

  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="activity" />
  <meta property="og:url" content="{{canonical}}/" />
  <meta property="og:image" content="http://strudelfolhadinho.com.br/images/maca.png" />
  <meta property="og:description" content="{{description}}" />

  <meta name="dcterms.title" content="{{title}}">
  <meta name="dcterms.creator" content="Strudel Folhadinho">
  <meta name="dcterms.description" content="{{description}}">

  <meta name="robots" content="all" />
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="10" />

  <meta name="rating" content="general" />


  <meta name="geo.region" content="BR-SP" />
  <meta name="geo.placename" content="São Paulo" />
  <meta name="geo.position" content="-23.6022679, -46.78821199999999" />
  <meta name="ICBM" content="-23.6022679, -46.78821199999999" />


  <script type="text/javascript" src="/javascript/all.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-36266607-1', 'strudelfolhadinho.com.br');
    ga('require', 'linkid', 'linkid.js');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
</head>
<body>
<header id="header" role="banner" class="cf">
  <div class="content column-full">
    <a href="/index.html" id="logo" class="fleft" title="ir para a Home Strudel Folhadinho">
      <img src="/images/logo-strudel-folhadinho.png" alt="Logo Strudel Folhadinho" title="Strudel Folhadinho" class="logo-img" width="271" height="108" />
    </a>
    <section id="header-strip" class="fright cf">
{{> midias }}

      <span id="phone" class="fright" title="ligue {{> phoneNumber}}"><i class="ico-phone"></i>{{> phoneNumber}}</span>
      <p class="header-strip-delivery fright">Entregamos na cidade de São Paulo</p>
    </section><!-- #header-strip -->
    <nav id="nav" role="navigation" class="fright">
      <ul id="nav-menu">
        <li class="fleft nav-link first">
          <a href="/cardapio.html" title="Veja nosso cardápio">Cardápio</a></li>
        <li class="fleft nav-link second">
          <a href="/como-e-feito.html" title="Como os strudels são feitos?">Como é Feito?</a></li>
        <li class="fleft nav-link third">
          <a href="/onde-comprar.html" title="Como compro com a Strudel Folhadinho?">Como Comprar?</a></li>
      </ul><!-- #nav-menu -->
    </nav><!-- #nav -->
  </div>
</header><!-- #header -->
