    <div class="midias fright">
        <a class="hidden-text fleft youtube" rel="nofollow" href="http://www.youtube.com/StrudelFolhadinho" title="Youtube Strudel Folhadinho">youtube</a>
        <a class="hidden-text fleft gplus" rel="nofollow" href="https://plus.google.com/+StrudelfolhadinhoBr" rel="publisher" title="Google Plus Strudel Folhadinho">Google +</a>
        <a class="hidden-text fleft like" rel="nofollow" href="https://www.facebook.com/StrudelFolhadinho" title="Facebook Strudel Folhadinho">facebook</a>
        <a class="hidden-text fleft tweet" rel="nofollow" href="https://twitter.com/folhadinho" title="Twitter Strudel Folhadinho">twitter</a>
    </div>
