AddType application/x-httpd-php html


RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.strudelfolhadinho\.com\.br$
RewriteRule (.*) http://strudelfolhadinho.com.br/$1 [R=301,L]


RewriteRule ^strudel/?$ http://strudelfolhadinho.com.br/strudel-de-maca.html [R,NC,L]
RewriteRule ^carta-de-strudel.html$ http://strudelfolhadinho.com.br/cardapio.html [R=301,NC,L]
RewriteRule ^como-comprar.html$ http://strudelfolhadinho.com.br/onde-comprar.html [R=301,NC,L]

ErrorDocument 404 /404.html



<Files strudel-de-maca-2.png>
Header add Link '<http://strudelfolhadinho.com.br/index.html>; rel="canonical"'
</Files>
