{{> header }}

<article id="main">
  <aside id="how-buy" class="above" role="complementary">
    <div class="content column-full">

      <h1 class="column-full">Não encontrei o conteúdo que você estava procurando - 404</h1>
      <div class="clear"></div>
    </div>
  </aside><!-- #how-buy -->
  <div class="content column-full" role="main">

    <h2 class="clear column-full">Ops, essa página não existe!</h2>

    <p class="column-full">Parece que você está tentando acessar um conteúdo que não está mais aqui.</p>
    <p class="column-full">Volte para a home, e veja nossos strudels.</p>

    <div class="clear"></div>
  </div>
</article><!-- #main -->
{{> footer }}
