{{> header }}

<article id="main">
	<aside id="how-buy" class="above" role="complementary">
		<div class="content column-full">
			<h1 class="fleft space-right">Apfelstrudel</h1>
			<p class="fleft space-right how-buy-text">O original e tradicional apfelstrudel</p>

			<div class="clear"></div>
		</div>
	</aside><!-- #how-buy -->
	<div class="content column-full" role="main">


		<h2>Apfelstrudel</h2>

		<p>O <strong>Apfelstrudel</strong> (significando folhado de maçã) é uma sobremesa tradicional austríaca, nascida em Viena, tendo-se tornado popular internacionalmente. É a receita mais conhecida com a massa folhada da Europa central, conhecida em Alemão por Strudel. Pensa-se que tenha sido influenciada pelas cozinhas do Império Bizantino, da Arménia e da Turquia. Em Viena, é possível encontrar vestígios destas três cozinhas.</p>

		<figure class="product-img fright">
			<img src="images/apfelstrudel.png" height="207" width="450" alt="Fatia do Apfelstrudel" />
			<img src="images/selo-valor-strudel.png" height="122" width="121" alt="Selo valor Strudel - R$ 50,00 equivalente a 10 fatias" class="selo-valor" />
		</figure><!-- .product-img -->

		<p><small>fonte: <a href="http://pt.wikipedia.org/wiki/Apfelstrudel" rel="external nofollow">wikipedia</a></small></p>

		<p>Aqui no Brasil é comum encontrarmos esse doce na região sul do pais, devido a colonização que estados como Santa Catarina sofreram. Nós da <strong class="cursive purple">Strudel Folhadinho</strong>, fazemos o original apfelstrudel com a receita verdadeira e entregamos para toda a cidade de São Paulo.</p>

		<p>Uma "tira", equivalente a 10 fatias sai por apenas R$50,00. Consulte o frete para a sua região.</p>
		<div class="clear"></div>
	</div>
</article><!-- #main -->
{{> footer }}
