{{> header }}

<article id="main">
  <aside id="how-buy" class="above" role="complementary">
    <div class="content column-full">
      <h1 class="fleft space-right">Apfelstrudel</h1>
      <p class="fleft space-right how-buy-text">O original e tradicional apfelstrudel alemão em São Paulo.</p>

      <div class="clear"></div>
    </div>
  </aside><!-- #how-buy -->
  <div class="content column-full" role="main">

    <figure class="product-img column-half fright">
      <img src="images/apfelstrudel.png" alt="Fatia do Apfelstrudel" width="555" height="305" />
      <div class="badge">
        <span class="badge-text">Tira de 35cm</span>
        <span class="badge-price">R$ {{products.sweet.maca.price}}</span>
        <span class="badge-text">rende 10 fatias</span>
      </div><!-- .badge -->
    </figure><!-- .product-img -->

    <div class="column-half">
      <h2>Apfelstrudel</h2>

      <p>O <strong>Apfelstrudel</strong> (significando folhado de maçã) é uma sobremesa tradicional austríaca, nascida em Viena, tendo-se tornado popular internacionalmente. É a receita mais conhecida com a massa folhada da Europa central, conhecida em Alemão por Strudel. Pensa-se que tenha sido influenciada pelas cozinhas do Império Bizantino, da Arménia e da Turquia. Em Viena, é possível encontrar vestígios destas três cozinhas.</p>

      <p><small>fonte: <a href="http://pt.wikipedia.org/wiki/Apfelstrudel" rel="external nofollow">wikipedia</a></small></p>
    </div>

    <p class="column-full clear">Aqui no Brasil é comum encontrarmos esse doce na região sul do pais, devido a colonização que estados como Santa Catarina sofreram. Nós da <strong class="cursive purple">Strudel Folhadinho</strong>, fazemos o original apfelstrudel com a receita verdadeira e entregamos para toda a cidade de São Paulo.</p>

    <p class="column-full">Uma "tira", equivalente a 10 fatias sai por apenas R$ {{products.sweet.maca.price}}.</p>
    <div class="clear"></div>
  </div>
</article><!-- #main -->
{{> footer }}
