{{> header }}

<article id="main">
  <aside id="how-buy" class="above" role="complementary">
    <div class="content column-full">
      <h1 class="fleft space-right">Como é Feito?</h1>
      <p class="fleft space-right how-buy-text">Fazemos strudels doces e salgados artesanalmente com muito amor e carinho.</p>

      <div class="clear"></div>
    </div>
  </aside><!-- #how-buy -->
  <div class="content column-full" role="main">

    <h2 class="column-full">Você já viu?</h2>
    <p class="column-full">A massa é trabalhada manualmente para que ganhe elasticidade e possa ser esticada por cima da mesa até ficar bem fininha.<br />
      É por isso que o strudel fica tão folhadinho.</p>

    <p class="column-full">Cada "tira" de strudel possui cerca de 35 centímetros de comprimento, pode ser dividida em 10 fatias de 3,5cm cada. Tal como esta fatia na foto.</p>

    <p class="column-full">Visite <a href="http://strudelfolhadinho.wordpress.com/" class="purple">nosso blog</a>, e confira mais informações sobre o modo de preparo.</p>

    <div class="column-half">
      <h3>Ingredientes da Massa:</h3>
      <ul class="list">
        <li>- Água;</li>
        <li>- Vinagre;</li>
        <li>- Manteiga;</li>
        <li>- Farinha de Trigo;</li>
        <li>- Ovos;</li>
      </ul><!-- .list-item -->
    </div><!-- .column-half -->

    <div class="column-half">
      <h3>Recheio:</h3>
      <ul class="list">
        <li>- Maçã Verde importada, Banana ou Doce de Leite;</li>
        <li>- Castanha de Cajú;</li>
        <li>- Uva Passa;</li>
        <li>- Canela;</li>
        <li>- Açúcar</li>
      </ul><!-- .list-item -->
    </div><!-- .column-half -->


    <div class="column-half" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">


      <h3>Video: <span itemprop="name">Massa Folhada - Preparo</span></h3>

      <meta itemprop="duration" content="T3M12S" />
      <meta itemprop="thumbnailUrl" content="http://strudelfolhadinho.com.br/images/thumbnail-video-massa-folhada.jpg" />
      <meta itemprop="contentURL" content="http://fast.wistia.net/embed/iframe/0727g9uun1" />
      <meta itemprop="embedURL" content="http://fast.wistia.net/embed/iframe/0727g9uun1" />
      <meta itemprop="uploadDate" content="2013-03-01T19:24:00+08:00" />
      <meta itemprop="expires" content="2015-01-30T19:00:00+08:00" />

      <div id="wistia_0727g9uun1" class="wistia_embed" style="width:460px;height:259px;" data-video-width="460" data-video-height="259">&nbsp;</div>
      <script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1.js"></script>
      <script>wistiaEmbed = Wistia.embed("0727g9uun1", { version: "v1", videoWidth: 460, videoHeight: 259, volumeControl: true, controlsVisibleOnLoad: true });</script>

      <p itemprop="description">Preparo artesanal da massa folhada do original strudel de maçã. Receita tradicional da massa do strudel de maçã.</p>

    </div><!-- .column-half -->

    <div class="column-half" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">


      <h3>Video: <span itemprop="name">Recheio Strudel de Maçã</span></h3>

      <meta itemprop="duration" content="T0M41S" />
      <meta itemprop="thumbnailUrl" content="http://strudelfolhadinho.com.br/images/thumbnail-video-recheio-strudel-de-maca.jpg" />
      <meta itemprop="contentURL" content="http://fast.wistia.net/embed/iframe/s7v1swdr1g" />
      <meta itemprop="embedURL" content="http://fast.wistia.net/embed/iframe/s7v1swdr1g" />
      <meta itemprop="uploadDate" content="2014-02-23T16:05:00+08:00" />
      <meta itemprop="expires" content="2015-01-30T19:00:00+08:00" />

      <div id="wistia_s7v1swdr1g" class="wistia_embed" style="width:460px;height:259px;" data-video-width="460" data-video-height="259">&nbsp;</div>
      <script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1.js"></script>
      <script>wistiaEmbed = Wistia.embed("s7v1swdr1g", { version: "v1", videoWidth: 460, videoHeight: 259, volumeControl: true, controlsVisibleOnLoad: true });</script>

      <p itemprop="description">Veja como nós da Strudel Folhadinho recheamos com todo o carinho o strudel que você pode encomendar no nosso site.</p>

    </div><!-- .column-half -->
    <figure class="how-to clear column-third">
      <img src="images/bolas-massa-strudel.jpg" alt="Massa do Strudel" width="300" height="225" />
      <figcaption>Massa do Strudel.</figcaption>
    </figure>
    <figure class="how-to column-third">
      <img src="images/preparo-massa-aberta-do-strudel.jpg" alt="Preparo da massa folhada do Strudel de Maçã" width="300" height="225" />
      <figcaption>Preparo da massa folhada do Strudel de Maçã.</figcaption>
    </figure>
    <figure class="how-to column-third">
      <img src="images/uma-tira-strudel-de-maca-crua.jpg" alt="Tira de strudel de maçã crua" width="300" height="225" />
      <figcaption>Tira de strudel de maçã antes de ir ao forno.</figcaption>
    </figure>


    <div class="clear"></div>
  </div>
</article><!-- #main -->
{{> footer }}
