{{> header }}
<section id="adcast">
    <ul class="content">
        <li class="adcast-item first">
            <div class="content column-full">
                <div class="adcast-content">
                    <h1 class="adcast-title">Strudel de Maçã</h1>
                    <p class="adcast-text">Experimente saborear uma fatia de strudel de maçã quentinho com 2 bolas de sorvete. Fica delicioso!</p>
                </div><!-- .adcast-content -->
                <img src="images/strudel-de-maca-3.png" alt="Strudel Maçã Verde" title="Strudel de Maçã Verde" class="fright adcast-img" width="450" height="259" />
                <img src="images/{{products.sweet.maca.badge}}" height="122" width="121" alt="Selo valor Strudel" title="R$ {{products.sweet.maca.price}} - equivalente a 10 fatias" class="selo-valor" />
                <div class="clear"></div>
            </div>
        </li>
    </ul>
</section><!-- #adcast -->
<article id="main">
    <div id="content" class="content column-full" role="main">

        <p>O <strong lang="de">Apfelstrudel</strong>, ou <strong>Strudel de Maçã</strong>, como é conhecido aqui no Brasil e na Alemanha, é uma sobremesa tradicional de massa folhada e recheio doce. <span lang="de">Apfelstrudel</span> significa <em>folhado de maçã</em>.</p>

        <p>Foi na região onde hoje é a Áustria que ganhou popularidade durante o século 18 nos impérios e castelos locais. </p>

        <p>Sua tradicional massa é feita de farinha, água, vinagre e manteiga. O preparo é feito sobre uma mesa onde a massa é esticada por toda superfície até ficar transparente e com espessura de menos de 1 milímetro, para depois ser recheada com ingredientes especiais.</p>

        <p>Hoje esta receita deliciosa é preparada com todo carinho pela <strong class="cursive purple">Strudel Folhadinho</strong> para você e sua família. Peça para saborear na sua casa:</p>

        <div class="column-half fleft box-flavor">
            <h2 class="flavor-title">Strudel Doce:</h2>
            <ul class="list flavor-list">
                <li>- O famoso <a href="strudel-de-maca.html" class="purple product-name" title="Strudel de Maçã"><strong>Strudel de Maçã</strong></a> (ou ApfelStrudel);</li>
                <li>- O <a href="strudel-de-doce-de-leite.html" class="purple product-name" title="Strudel de Doce de Leite"><strong>Strudel de Doce de Leite</strong></a>;</li>
                <li>- O tropical <span class="purple product-name">Strudel de Banana</span>;</li>
                <li>- E o <span class="purple product-name">Strudel de Chocolate</span>.</li>
            </ul>
        </div><!-- .column-half -->

        <div class="column-half fright box-flavor">
            <h2 class="flavor-title">Strudel Salgado:</h2>
            <ul class="list flavor-list">
                <li>- O delicioso <a href="strudel-de-frango-com-catupiry.html" class="purple product-name" title="Strudel de Frango com Catupiry"><span class="purple product-name">Strudel de Frango com Catupiry</span></a>;</li>
                <li>- O requintado <span class="purple product-name">Strudel de Palmito</span> e,</li>
                <li>- O saboroso <span class="purple product-name">Strudel de Bacalhau</span>.</li>
            </ul>
        </div><!-- .column-half -->



        <section itemscope itemtype="http://schema.org/LocalBusiness" class="column-full clear">
            <span itemprop="name" class="cursive purple">Strudel Folhadinho</span><br />
            <p itemprop="description">Preencha o formulário abaixo para fazer o seu pedido. Entregamos o original strudel de maçã(apfelstrudel) e outros sabores para toda a cidade de São Paulo.</p>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <small itemprop="streetAddress">Rua Padre Jácome de Queiroz</small>
                <small itemprop="addressLocality">São Paulo</small>, 
                <small itemprop="addressRegion">SP</small>
            </div>
            Telefone: <span itemprop="telephone">
                    <span title="ligue {{> phoneNumber}}">{{> phoneNumber}}</span>
            </span> -
            <span> strudelfolhadinho@gmail.com</span>
        </section><!-- .column-full -->

        <p class="clear"><small>* valores para a tira do strudel, que mede cerca de 35 centímetros.</small></p>

        <div class="clear"></div>
    </div><!-- .content -->
</article><!-- #content -->
{{> footer }}