{{> header }}
{{> adcast }}
<article id="main">
    <div id="content" class="content column-full cf" role="main">
        <div class="column-half">
            <h2>Apfelstrudel</h2>
            <p><span lang="de">Apfelstrudel</span> significa <em>folhado de maçã</em>. Foi na região onde hoje é a Áustria que ganhou popularidade durante o século 18 nos impérios e castelos locais. </p>

            <p>Sua tradicional massa é feita de farinha, água, vinagre e manteiga. O preparo é feito sobre uma mesa onde a massa é esticada por toda superfície até ficar transparente e com espessura de menos de 1 milímetro, para depois ser recheada com ingredientes especiais.</p>

            <p>Veja o <a href="/cardapio.html" class="purple">preço dos nossos strudels no cardápio</a></p>
        </div>

        <div class="column-half">
            <h2>Depoimentos de Clientes</h2>
            <section class="hreview">
                <p class="description">Que delícia, hein!! Virei mega fã.. Parabéns.</p>
                <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
                <p class="summary bold">Cliente que comeu 1 strudel de maçã.</p>
                <p><span class="reviewer">Dani</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">01/04/2014 <span title="2013-03-29" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
            </section>
            <section class="hreview">
                <p class="description">Aprovado!</p>
                <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
                <p class="summary bold">Cliente que comprou um strudel de Maçã.</p>
                <p><span class="reviewer">Kênia</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">29/11/2012 <span title="2012-11-20" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
            </section>

            <div itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
                <img itemprop="image" src="http://strudelfolhadinho.com.br/images/strudel-de-maca-thumb.jpg" alt="Strudel de Maçã" width="145" height="145" class="fleft space-right" />
                <p class="fleft itemreviewed">
                    <span itemprop="itemreviewed">Strudel de Maçã</span><br />
                    <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
                        <span itemprop="average">10.0</span> out of <span itemprop="best">10</span>
                    </span>
                    based on <span itemprop="votes">7</span> ratings. <br />
                    <span itemprop="count">7</span> user reviews.
                </p>
            </div>
        </div>

        <p class="column-full clear"><small>* valores para a tira do strudel, que mede cerca de 35 centímetros.</small></p>

    </div><!-- .content -->
</article><!-- #content -->
{{> footer }}
