{{> header }}

<article id="main">
	<aside id="how-buy" class="above" role="complementary">
		<div class="content column-full">
			<h1 class="fleft space-right">Mini Strudel</h1>
			<p class="fleft space-right how-buy-text">Encomende para a sua festa nossos deliciosos Mini Strudels</p>

			<div class="clear"></div>
		</div>
	</aside><!-- #how-buy -->
	<div class="content column-full" role="main">
		<figure class="product-img fright">
			<img src="images/um-mini-strudel.jpg" alt="Mini Strudel de Maçã"  width="460" height="345" />
            <img src="images/{{products.sweet.mini.badge}}" height="122" width="121" alt="Selo valor Mini Strudel - R$ {{products.sweet.mini.price}} a unidade" class="selo-valor" />
		</figure><!-- .product-img -->


        <div class="fleft column-half">
    		<h2>Mini ApfelStrudel - Folhatele</h2>
    
    		<p>Nós da <strong class="cursive purple">Strudel Folhadinho</strong>, fazemos também mini strudels deliciosos. Imagine todo o sabor do <a href="/strudel-de-maca.html">strudel de maçã</a> em porções individuais, ideais para suas festas, entradas e perfeitos para buffets.</p>
    
    		<h3>O preço</h3>
    		<p>Temos dois tamanhos de mini strudel, um com tamanho de 3cm x 3cm, sai por R$ {{products.sweet.mini.price}} cada unidade.</p>
        </div><!-- . -->


        <div class="clear"></div>

		<img src="images/mini-strudel.jpg" alt="Mini Strudel de Maçã"  width="460" height="345" class="fleft column-half" />
		<img src="images/varios-mini-apfelstrudel.jpg" alt="Vários Mini Strudel de Maçã"  width="460" height="345" class="fright column-half" />


		<div class="clear"></div>
	</div>
</article><!-- #main -->
{{> footer }}
