{{> header }}

<article id="main">
    <aside id="how-buy" class="above" role="complementary">
        <div class="content column-full">
            <h1 class="fleft space-right">Como Comprar?</h1>
            <p class="fleft space-right how-buy-text">Ligue para nós: <br />
                <a href="tel:0113782-2391">(11)3782-2391</a>(das 7h até as 13h), <br/>
                 <a href="tel:01196309-9227">(11)96309-9227</a>.<br /><br />
            ou preencha o formulário de contato abaixo.</p>
            <div class="clear"></div>
        </div>
    </aside><!-- #how-buy -->
    <div class="content column-full cf" role="main">

        <h2 class="column-full">A entrega</h2>
        <p class="column-full">Entregaremos o seu pedido em até 3 dias úteis. Atendemos a região metropolitana de São Paulo e cidades ao redor.</p>

        <img src="images/strudel-de-banana.png" alt="Strudel de Banana" class="fright"  width="450" height="338" />

        <h2 class="column-full">O pagamento</h2>
        <p class="column-full">Você pode pagar em dinheiro no momento da entrega.<br />
        Para encomendas acima de 10 unidades, aceitamos depósito em conta corrente.</p>

        <p class="column-full">Veja os preços no nosso <a href="/cardapio.html" title="Cardápio de Strudel" class="purple product-name">Cardápio</a></p>


        <h2 class="column-full">Encomende sua sobremesa</h2>
        <p class="column-full">Encomende os seguintes sabores de strudel:
{{#each products.sweet}}
    <span class="purple product-name">{{name}}</span>,
{{/each}}.
        </p>

        <h2 class="column-full">Encomende estas delícias</h2>
        <p class="column-full">
{{#each products.savory}}
    <span class="purple product-name">{{name}}</span>,
{{/each}}.
        </p>
    </div>
</article><!-- #main -->
{{> footer }}
