{% extends "main.html" %}

{% block content %}

<article id="main">
  <aside id="how-buy" class="above" role="complementary">
    <div class="content column-full">
      <h1 class="fleft">Strudel de Maçã Verde</h1>
      <p class="fleft how-buy-text">Experimente o tradicional strudel de maçã verde</p>

      <div class="clear"></div>
    </div>
  </aside><!-- #how-buy -->
  <div class="content column-full" role="main">

    <div class="column-half">
      <h2>O Strudel de Maçã</h2>

      <p>O nome ApfelStrudel significa <em>folhado de maçã</em>. Esse doce é conhecido mundialmente.</p>
      <p>A <strong class="cursive purple">Strudel Folhadinho</strong>, prepara delicisos Strudels de Maçã, usando ingredientes selecionados. Tais como maçãs verdes importadas, cravo da índia, canela da china e outros para que o seu strudel tenha aquele gostinho e textura irresistíveis.</p>
      <p>E aí? ficou com vontade? Preencha os campos abaixo com seu telefone e cep, que entraremos em contato para entregar o seu strudel em até 3 dias úteis.</p>

      <h3>O preço</h3>
      <p>A tira do <strong>strudel de maçã</strong> custa R$ {{products.sweet.maca.price}}. Equivalente a 10 fatias como a da foto. Uma "tira" de strudel pesa cerca de 850 gramas.</p>
    </div>

    <figure class="product-img column-half fright">
      <img src="images/strudel-de-maca-4.png" alt="Fatia Strudel de Maçã" width="555" height="416" />
      <div class="badge">
        <span class="badge-text">Tira de 35cm</span>
        <span class="badge-price">R$ {{products.sweet.maca.price}}</span>
        <span class="badge-text">rende 10 fatias</span>
      </div><!-- .badge -->
    </figure><!-- .product-img -->


    <p class="cursive clear column-full">Depoimentos</p>
    <section class="hreview column-third">
    <p class="description">O strudel de vcs é maravilhoso. Com certerza vou comprar com outros recheios.</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Experimentou nosso strudel de maçã.</p>
      <p><span class="reviewer">Mira</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">29/09/2014 <span title="2014-09-29" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>

    <section class="hreview column-third">
      <p class="description">Meu amigo AMOU o Strudel. Agradeço a atenção e o capricho de vcs. Até os próximos pedidos, com certeza. Obrigada e tenham uma santa e feliz páscoa.</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Encomendou como presente para um amigo.</p>
      <p><span class="reviewer">Teresa</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">19/04/2014 <span title="2014-04-19" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">Recebi os deliciosos strudels às 16h30. Minha apresentação foi um sucesso e não sobrou nem as embalagens. Super recomendo! Parabéns!</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Fez uma apresentação sobre a Alemanha na faculdade.</p>
      <p><span class="reviewer">Patty</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">16/04/2014 <span title="2014-04-16" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">Maravilhooooooosoooooooooooo. Deliciooooso. Muuuito bom o strudel</p>
      <span class="item is-hidden">Produto: <span class="fn">ApfelStrudel</span></span>
      <p class="summary bold">Experimentou nosso apfelstrudel.</p>
      <p><span class="reviewer">Gisele</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">24/12/2015 <span title="2015-12-24" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">Parabéns! Estava uma delícia! Todos adoraram!</p>
      <span class="item is-hidden">Produto: <span class="fn">ApfelStrudel</span></span>
      <p class="summary bold">Encomendou um apfelstrudel.</p>
      <p><span class="reviewer">Joici</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">10/02/2014 <span title="2014-02-10" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">muito bom!!</p>
      <span class="item is-hidden">Produto: <span class="fn">ApfelStrudel</span></span>
      <p class="summary bold">Encomendou um apfelstrudel.</p>
      <p><span class="reviewer">Paula</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">31/07/2015 <span title="2015-07-13" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>

    <section class="hreview column-third">
      <p class="description">Que delícia, hein!! Virei mega fã.. Parabéns.</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Cliente que comeu 1 strudel de maçã.</p>
      <p><span class="reviewer">Dani</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">01/04/2014 <span title="2014-04-01" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">Recebi minha encomenda hj e como da primeira vez estavam divinos, obrigada.</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Cliente que comeu 1 strudel de maçã sem canela.</p>
      <p><span class="reviewer">Rebeca</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">29/03/2013 <span title="2013-03-29" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">Lembrou muito o que a minha avo fazia, ela deixava as maças e as uvas passas de molho no limão pra ficarem bem azedinhas.<br />
      A massa esta execelente.</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Cliente que comprou 1 strudel de maçã sem canela.</p>
      <p><span class="reviewer">Rebeca</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">04/03/2013 <span title="2013-03-04" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">Realmente o strudel é muito bom. Tem gente que prefere comer frio mesmo, mas a dica é colocar por 20 minutos no forno que ele fica bem quentinho e crocante.</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Cliente que experimentou strudel de maçã.</p>
      <p><span class="reviewer">Joana</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">13/02/2013 <span title="2013-02-13" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">Ainda näo provei, mas só pela foto já dá vontade.</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Cliente que ficou com vontade de comer um strudel de Maçã.</p>
      <p><span class="reviewer">Gilberto</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">03/01/2013 <span title="2013-01-03" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">Aprovadíssimo!!! Por mim e por minha família inteira (que não é nada pequena, rs)!</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Cliente que comprou 3 tiras de strudel de Maçã.</p>
      <p><span class="reviewer">Pâmela</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">24/12/2012 <span title="2012-12-24" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>
    <section class="hreview column-third">
      <p class="description">Aprovado!</p>
      <span class="item is-hidden">Produto: <span class="fn">Strudel de Maçã</span></span>
      <p class="summary bold">Cliente que comprou um strudel de Maçã.</p>
      <p><span class="reviewer">Kênia</span> de <strong>São Paulo</strong>/SP em <span class="dtreviewed">29/11/2012 <span title="2012-11-20" class="value-title"></span></span> - Nota:<span class="rating">5.0</span></p>
    </section>


    <div class="column-third" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
      <img itemprop="image" src="http://strudelfolhadinho.com.br/images/strudel-de-maca-thumb.jpg" alt="Strudel de Maçã" width="145" height="145" class="fleft space-right" />
      <p class="fleft itemreviewed">
        <span itemprop="itemreviewed">Strudel de Maçã</span><br />
        <span itemprop="rating" itemscope itemtype="http://data-vocabulary.org/Rating">
          <span itemprop="average">10.0</span> out of <span itemprop="best">10</span>
        </span>
        based on <span itemprop="votes">11</span> ratings. <br />
        <span itemprop="count">11</span> user reviews.
      </p>
    </div>

    <div class="clear"></div>
  </div>
</article><!-- #main -->
{% endblock %}
