{{> header }}

<article id="main">
    <aside id="how-buy" class="above" role="complementary">
        <div class="content column-full">
            <h1 class="fleft space-right">Strudel de Bacalhau</h1>
            <p class="fleft space-right how-buy-text">Experimente também nossos strudels salgados. Bacalhau</p>

            <div class="clear"></div>
        </div>
    </aside><!-- #how-buy -->
    <div class="content column-full" role="main">

        <figure class="product-img fright">
            <img src="images/{{products.savory.bacalhau.badge}}" height="122" width="121" alt="Selo valor Strudel - R$ {{products.savory.bacalhau.price}} equivalente a 10 fatias" />
        </figure><!-- .product-img -->

        <h2 class="column-full">Strudel de Bacalhau</h2>

        <p class="column-full">Temos strudels salgados. Experimente nosso strudel de bacalhau.</p>
        <p class="column-full">Uma tira, rende 10 porções. Peça agora pelo formulário abaixo, ou pelo telefone.</p>


        <div class="clear"></div>
    </div>
</article><!-- #main -->
{{> footer }}