{{> header }}

<article id="main">
  <aside id="how-buy" class="above" role="complementary">
    <div class="content column-full">
      <h1 class="fleft space-right">Strudel de Palmito</h1>
      <p class="fleft space-right how-buy-text">Experimente também nossos strudels salgados. Strudel de Palmito</p>

      <div class="clear"></div>
    </div>
  </aside><!-- #how-buy -->
  <div class="content column-full" role="main">

    <figure class="product-img fright">
      <img src="images/strudel-de-palmito.png" alt="Fatia Strudel de Palmito" width="555" height="365" />
      <div class="badge">
        <span class="badge-text">Tira de 35cm</span>
        <span class="badge-price">R$ {{products.savory.palmito.price}}</span>
        <span class="badge-text">rende 10 fatias</span>
      </div><!-- .badge -->
    </figure><!-- .product-img -->

    <h2>Strudel de Palmito</h2>

    <p>O Strudel de palmito é ideal para ser servido como entrada ou acompanhar o seu prato principal. Levemente aquecido destaca a crocância da sua massa folhada e cremosidade do recheio bechamel com palmito.</p>

    <p>Uma tira, rende 10 porções. Peça agora pelo formulário abaixo, ou pelo telefone.</p>


    <div class="clear"></div>
  </div>
</article><!-- #main -->
{{> footer }}
