{{> header }}

<article id="main">
	<aside id="how-buy" class="above" role="complementary">
		<div class="content column-full">
			<h1 class="fleft space-right">Strudel de Doce de Leite</h1>
			<p class="fleft space-right how-buy-text">Prove o delicioso strudel de doce de leite.</p>
		
			<div class="clear"></div>
		</div>
	</aside><!-- #how-buy -->
	<div class="content column-full" role="main">
		
		<figure class="product-img fright">
			<img src="images/strudel-de-doce-de-leite.png" alt="Strudel de Doce de Leite" width="450" height="309" />
			<img src="images/selo-valor-strudel.png" height="122" width="121" alt="Selo valor Strudel - R$ 50,00 equivalente a 10 fatias" class="selo-valor" />
		</figure><!-- .product-img -->

		<h2>Strudel de Doce de Leite</h2>

		<p>A <strong class="cursive purple">Strudel Folhadinho</strong>, prepara delicisos Strudels de Doce de Leite.</p>

		<p>Usamos um doce de leite que combina perfeitamente com a nossa folhada.</p>

		<p>E aí? ficou com vontade? Preencha os campos abaixo com seu telefone e cep, que entraremos em contato para entregar o seu strudel em até 3 dias úteis.</p>


		<h3>O preço</h3>
		<p>A tira do <strong>strudel de doce de leite</strong> custa R$ 50,00. Equivalente a 10 fatias como a da foto. Uma "tira" de strudel pesa cerca de 850 gramas.</p>	


		<figure class="how-to fleft space-right clear column-third">
			<img width="300" height="400" alt="Massa do Strudel" src="images/bolas-massa-strudel-2.jpg">
			<figcaption>Massa do Strudel.</figcaption>
		</figure>
		<figure class="how-to fleft column-third">
			<img width="300" height="400" alt="Recheio Doce de Leite" src="images/recheando-strudel-de-doce-de-leite.jpg">
			<figcaption>Recheio Doce de Leite.</figcaption>
		</figure>
		<figure class="how-to fright column-third">
			<img width="300" height="400" alt="Strudel de Doce de Leite" src="images/fechando-strudel-doce-de-leite.jpg">
			<figcaption>Enrolando o strudel de doce de leite.</figcaption>
		</figure>


		<div class="clear"></div>
	</div>
</article><!-- #main -->
{{> footer }}
