{{> header }}

<article id="main">
  <aside id="how-buy" class="above" role="complementary">
    <div class="content column-full">
      <h1 class="fleft space-right">Strudel de Frango com Catupiry</h1>
      <p class="fleft space-right how-buy-text">Experimente também nossos strudels salgados. Frango com catupiry</p>

      <div class="clear"></div>
    </div>
  </aside><!-- #how-buy -->
  <div class="content column-full" role="main">

    <figure class="product-img fright">
      <div class="badge">
        <span class="badge-text">Tira de 35cm</span>
        <span class="badge-price">R$ {{products.savory.frango.price}}</span>
        <span class="badge-text">rende 10 fatias</span>
      </div><!-- .badge -->
    </figure><!-- .product-img -->

    <h2 class="column-full">Strudel de Frango com Catupiry</h2>

    <p class="column-full">Temos strudels salgados. Experimente nosso strudel de frango com catupiry.</p>
    <p class="column-full">Uma tira, rende 10 porções. Peça agora pelo formulário abaixo, ou pelo telefone.</p>

    <div class="clear"></div>
  </div>
</article><!-- #main -->
{{> footer }}
