.badge {
  background: url('../images/sprites/ico-badge.png');
  width: 168px;
  height: 177px;
  display: block;
  padding: 50px 30px 0;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  text-align: center;
}

.badge-price,
.badge-text { display: block; }

.badge-price { font-size: 46px; margin-bottom: 10px; }

.product-img .badge { position: absolute; bottom: 0; right: 0; }

@media only screen and (max-width: 960px){
  .badge {
    -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
         -o-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media only screen and (max-width: 480px){
  .badge {
    -webkit-transform: scale(0.5);
       -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
         -o-transform: scale(0.5);
            transform: scale(0.5);
  }
}
